/*myChart*/
.myChart{
  list-style: none;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  width: 1152px;
  margin: 0;
}
@media (max-width:1170px){
  .myChart{
    list-style: none;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: auto;
  }
}
.myChart li{
  padding: 10px 10px;
  background-color: #f5ebe9;

}
.myChart a{
  background-color: #f5ebe9;
  background-image: url("https://www.bmc.org/themes/custom/bmc_base_theme/assets/images/icons/icon-mychart.svg");
  background-repeat: no-repeat;
  background-position: .75rem 50%;
  padding-left: calc(1.5rem + 26px);
  color: #000000;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}
.myChart a:hover{
  color: #000000;
}
/**/
nav{
  background-color:#1a7595  ;
  color: white;
}
 
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (max-width: 992px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    
  }
  @media(min-width:992px){
    
  }
.firstWrapper{
  padding-top: 35px;
  padding-bottom: 35px;
}
.secondWrapper{
  padding-top: 15px;
  padding-bottom: 15px;
  background:#1a7595 ;
  justify-content: center;
  align-items: center;;
  display: flex;
}
.WhiteColor{
color:white
}
.navbar-brand{
color:white;
}
.navbar-brand:hover{
  color:white;
}
.nav-link{
  color:white;
}
.nav-link:hover{
  color:white;
}
a.nav-link{
  color:white;
}

.navbar-items{
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left:15px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




.thirdWrapper{
  padding-top: 0px;
  padding-bottom: 0px;
  background:#1a7595  ;
  justify-content: center;
  align-items: center;;
  display: flex;
  padding-left: 20px;
  padding-right:20px;
}
.text{
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
.text h1{
  font-size: 50px;
}
.text p{
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}
main header{
  width: 98%;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
header p span{
  font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
header p span:hover{
  background: #222;
    color: white;
}
section{
  width: 98%;
  height: 600px;
  /*background: red;*/
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar{
  display: none;
}
section .product{
  min-width: 24%;
  height: 90%;
  background: white;
  margin:  0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
  padding-top:15px;

}
picture{
  width: 100%;
  height: 70%;
  
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  background: white;
}
picture img{
  width: 100%;
}
.detail,
.button{
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}
small{color: #555;}
a{
  text-decoration: none;
    font-size: 15px;
    display: inline-block;
    color: white;
}
p.star{
  margin: 5px auto;
    width: 65%;
    font-size: 25px;
    color: #808080;
}
@media (max-width: 1050px) {
  .textSize{
    font-size: 15px;
    color: white;
      }
  .text h1{
    font-size: 35px;
  }
  .text p{
    width: 90%;
  }
  header h1{
    font-size: 25px;
  }
  header p span{
    font-size: 30px;
  }
  section .product {
    min-width: 50%;
    margin:  0 10px  0 0;
  }
  .detail, .button{
    font-size: 16px;
  }
  a{
    padding: 6px 10px;
  }
}
@media (max-width: 650px) {
  .textSize{
font-size: 12px;
color: white;
padding-top: 15px;
  }
  .text h1{
    font-size: 35px;
  }
  .text p{
    width: 90%;
  }
  header h1{
    font-size: 25px;
  }
  header p span{
    font-size: 30px;
  }
  section .product {
    min-width: 100%;
    margin:  0 10px  0 0;
  }
  .detail, .button{
    font-size: 16px;
  }
  a{
    padding: 6px 10px;
  }
  
}


/*footer*/
footer{
  font-size: 14px;
  overflow-y: auto;
  padding-top: 20px;
}

footer .logo{
  margin-top: 0;
}
footer .blur{
  margin-top: 1.5rem;
  font-size: 12px;
}
footer .inline{
  padding: 0;
  list-style: none;
  display: -webkit-inline-flex;
}
footer .social-link{
  width: 2.6rem;
  height: 2.6rem;
  opacity: .6;
}
footer .social-link:hover{
  opacity: 1;
}
footer .links{
  display: grid;
  line-height: 39px;
}
footer .link{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #08526b;
}
footer .link:hover{
  text-decoration: underline;
  color: #08526b;
}
footer .images{
  text-align: center;
  opacity: .6;
}
footer .images:hover{
  opacity: 1;
}
footer .foot_image{
  margin-top: 30px;
}
.textSize{
  font-size:15px;
  color:#1a7595;
  font-weight:bold;
}


.newsText{
  justify-content: center;
  align-items: center;
  display: flex;
  color:#1a7595;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.inputs{
  margin-top:5px;
  
}
.borders{
  box-shadow:0 4px 6px -5px hsl(0,0%,40%),inset 0px 4px 6px -5px black;
  border-radius: 0.5em;
}

.blueColor{
font-size: 20px;
}
/*SECTION OF BUTTON*/
.section{
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.section a{
  background-color: #9fd6e0;
  width: 100%;
  padding: 10px 10px;
  color: #222;
  text-decoration: none;
  font-size: 15px;
  box-shadow:  5px 5px rgba(51, 55, 58, 0.1)
}
.section a:hover{
  box-shadow:  5px 5px rgba(42, 115, 189, 0.1);
  color: #222;
  font-weight: bold;
}
.swiper-button-next {
  position: absolute;
  top: auto!important;
}
.swiper-button-prev{
  position: absolute;
  top: auto!important;

}
.slider .image{
  position: relative;
}
.slider .text{
  position: absolute;
  bottom: 25px;
  left: 0;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  width: 80%;
  text-align: left;
}
.slider .date{
  position: absolute;
  top: 30px;
  left: -2px;
  border: 1px solid transparent;
  background-color: #08526b;
  color:#FFFFFF;
  text-transform: uppercase;
  padding: 10px 10px;
  
}
.donate{
  background-image: url("https://www.bmc.org/themes/custom/bmc_base_theme/assets/images/backgrounds/circles-blue.svg");
  background-repeat: no-repeat;
  background-color: #1a7595;
  margin-top: 20px;
} 
.donate .donate{
  background-color: rgb(8 82 107 / 75%);
  padding: 20px 30px;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 10PX;
}
@media (max-width:500px) {
  .slider .text{
    font-size: 12px;
  width: 100%;
  }
}
.sideBar {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
.departments{
  padding-top:20px;
}
.department{
  margin-top: 7px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  
}
.relativePic{
  position: relative;
  
}
.doctorIcon{
  position: absolute;
  top:0;
  right:70px;
  border-radius: 10px;

}
.mergeCenter{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.inputAppoint{
  width:400px;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/*Appointment*/
.appointment .top{
    background-image: url('https://www.bmc.org/themes/custom/bmc_base_theme/assets/images/backgrounds/page-header.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 60px ;
}
.appointment h1{
  color: #000000;
}
.appointment .list{
  background-color: #08526b;
  padding: 20px 20px;
  border-radius: 10px;
}
.appointment .list .existing{
  text-decoration: none;
  color: #dddddd;
  padding: 10px;
}
.appointment .list div{
 border-bottom: 1px solid #dedede;
}
.appointment .list .existing:hover{
  color: #1a7595;
}
@media (max-width:768px){
.appointment .block1 table tbody{
  font-size: 14px;

}

}
.appointment #prepare a{
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px 20px;
  text-decoration: none;
}
/**/
/*make.php*/
.doctors .image{
  background-image: url('../images/TopDoctors2020.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width:100%;
  margin-left: 0px;
}
.doctors .text{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  color: #08526b;
  padding: 50px;
}
.doctors .form{
  text-align: center;
}
.doctors label{
  float: left;
  color: #08526b;
}
.doctors input{
  width: 100%;
}
.doctors .row{
  padding-top: 30px;
}

.doctors input[type=submit]{
  background-color: #08526b;
  padding: 20px 20px ;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  
}
/**/
/*doctor.php*/
.doctors .dr{
  background-image: url('../images/TopDoctors2020.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}
.ourPatient{
  overflow: auto;
}
.doctor .patient{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.doctor .info{
 
font-size: 20px;
  color: #08526b;
  text-transform: uppercase;
  font-weight: bold;
}
/**/
/*ehrfiles.php*/
.ehr h2 {
  text-align: center;
}
.ehr form{
  text-align: center;
}
.ehr .firstname{
  margin-bottom: 20px;
}
.ehr input[type=text],[type=number],[type=date], select{
  width: 100%;
}
.ehr .submit{
  margin-bottom: 20px;
  
}
.ehr input[type=submit]{
  background-color: #08526b;
  padding: 20px 20px;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
/**/
/*nurse.php*/
.nurse .information{
  padding: 40px;
  color: white;
}
.nurse{
  background-color: #000000;
  box-shadow: 4px 4px #888888;
}